  <footer>

  <p>Home</p>
  <p>Veldverkenner</p>                            
  <p>Nieuws</p>                            
  <p>Collectie</p>                              

    
  </footer>
  </body>
</html>