  <footer>

  <a href="/home" class="link"><img class="icon" src="assets/huis.svg" alt="">Home</a>
  <a href="/veldverkenner" class="link"><img class="icon" src="assets/kaart.svg" alt="">Veldverkenner</a>                            
  <a href="/nieuws" class="link"><img class="icon" src="assets/nieuws.svg" alt="">Nieuws</a>                            
  <a href="/collectie" class="link"><img class="icon" src="assets/bloem.svg" alt="">Collectie</a>                              

    
  </footer>
  </body>
</html>