footer {
    display: flex;
    justify-content: space-between;    
    margin-top: 120px;
}

.link {
    display: flex;
    flex-direction: column;
}

footer a {
    color: #000000;
    text-decoration: none;
}